.game {
  height: 100vh;
  padding: 30px;
}

.game > div,
.game > div > div {
  height: 100%;
}

.game > div > div {
  overflow: hidden;
}

.player {
  background-color: green;
  color: white;
  height: 30px;
  font-size: 12px;
  position: absolute;
  width: 30px;
}
